/cintegration-html/*
/phpunit.report.xml
/phpunit.converage.xml
/database/database.sqlite.bkp
/ci-html/*
/ci-unit/*
/node_modules
/public/hot
/public/teste
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/ci
/.idea
/.vscode
/.vagrant
/bin/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.sonar
/docker-compose.override.yml